@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.item-details-icon {
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.25rem;
  transition: transform 0.3s ease-in-out;
}

.item-details.expanded .item-details-icon {
  transform: rotate(180deg);
}

.error-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e53e3e; /* Czerwony */
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 1000; /* Ustawiamy z-index, by komunikat był zawsze na wierzchu */
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.path {
  stroke: black;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
